In [1]:
import numpy as np
import pandas as pd
from ast import literal_eval

In [2]:
df = pd.read_csv("/home/ahimschoot3-gtri/Amazon/search_grid.csv", converters={"mapped_zipcodes": literal_eval})

In [3]:
df = df.explode("mapped_zipcodes").reset_index()
df['mapped_zipcodes'] = pd.to_numeric(df['mapped_zipcodes'])

In [4]:
impact_17 = pd.read_csv("/home/ahimschoot3-gtri/Amazon/impact_score_2017.csv")

In [5]:
impact_17 = impact_17.join(df.set_index('mapped_zipcodes'), on='zip5').drop(["Unnamed: 0", "index"], axis = 1)

In [6]:
impact_18 = pd.read_csv("/home/ahimschoot3-gtri/Amazon/impact_score_2018.csv")

In [7]:
impact_18 = impact_18.join(df.set_index('mapped_zipcodes'), on='zip5').drop(["Unnamed: 0", "index"], axis = 1)

In [8]:
impact_19 = pd.read_csv("/home/ahimschoot3-gtri/Amazon/impact_score_2019_public_test.csv")
impact_19["impact_score"] = 0

In [9]:
impact_19 = impact_19.join(df.set_index('mapped_zipcodes'), on='zip5').drop(["Unnamed: 0", "index"], axis = 1)

In [11]:
df = pd.concat([impact_17, impact_18,  impact_19], ignore_index=True)
df

         date_key   zip5  impact_score  grid_lat  grid_lon
0      2017-01-01   2722     20.268081      41.5     -71.0
1      2017-01-01   3063     31.794226      43.0     -71.5
2      2017-01-01   7008     22.809754      40.5     -74.0
3      2017-01-01   8518      8.621755      40.0     -75.0
4      2017-01-01   8691     21.099682      40.0     -74.5
...           ...    ...           ...       ...       ...
98670  2019-12-31  97124      0.000000      45.5    -123.0
98671  2019-12-31  98032      0.000000      47.5    -122.5
98672  2019-12-31  98327      0.000000      47.0    -122.5
98673  2019-12-31  98390      0.000000      47.0    -122.0
98674  2019-12-31  98421      0.000000      47.5    -122.5

[98675 rows x 5 columns]